config EXAMPLES_INDUSTRIAL_IOT
	bool "Industrial IoT Wind Mill Demo"
	select ARTIKAPI
	select ARTIKAPI_WIFI
	select ARTIKAPI_SYSTEMIO
	select ARTIKAPI_CONNECTIVITY
	select ARTIKAPI_CONNECTIVITY_HTTP
	select ARTIKAPI_CONNECTIVITY_CLOUD
	select ARTIKAPI_CONNECTIVITY_WEBSOCKET
	select NETUTILS_WEBSERVER
	select NETUTILS_WEBSOCKET
	select NETUTILS_MDNS
	select NETUTILS_MDNS_RESPONDER_SUPPORT
	select NETUTILS_JSON
	select EXAMPLES_MOUNT
	default n
	---help---
		Prepared for Industrial IoT Wind Mill Demo in May 2017
